---
layout: default
---

<!-- begin hero -->
{% unless page.hide_title %}
{% if page.image %}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img class="lazy" data-src="{{ page.image | relative_url }}" alt="{{ page.title }}">
    </div>
    <div class="hero__content">
      <h1 class="hero__title">{{ page.title }}</h1>
      {% if page.description %}<p class="hero__desc">{{ page.description }}</p>{% endif %}
    </div>
  </div>
</section>
{% else %}
<section class="hero-without-image">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="hero__title">{{ page.title }}</h1>
    </div>
  </div>
</section>
{% endif %}
{% endunless %}
<!-- end hero -->

<!-- begin page -->
<div class="container{% if page.hide_title %} page--no-hero{% endif %}">
  <article class="page animate">
    <div class="page__content">
      {{ content }}
    </div>
  </article>
</div>
<!-- end page -->
